<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1d6237e6-1273-43cd-a5f7-968a3a24ae98" Alias="projectsPage" Level="2">
  <Info>
    <Name>Projects Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="6f982761-1c48-438a-872d-125a45067976">homePage</Composition>
    </Compositions>
    <DefaultTemplate>projectsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bd0052c7-4dad-466d-acd6-cbc12e4facde">projectsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f7bdff4b-ff42-4b95-88d5-b37e59b2958d" SortOrder="0">projectItemTemplate</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>