@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"');
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, section, div, header, footer, main, aside, nav, blockquote, p, span {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #535656;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
@media (min-width: 1400px) {
  .wrapper {
    grid-template-rows: auto auto 1fr auto;
  }
}

.container, .container-fluid {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

a {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a[target=_blank]::after {
  content: "\f08e";
  font-family: "Font Awesome 6 Pro";
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8em;
  margin-left: 0.3em;
  margin-top: -0.9em;
}

.btn-dark, .btn-primary, .btn-secondary, .btn-accent, .btn-gray, .btn-light {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid;
  padding: 15px 40px;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: transparent;
  font-family: "Poppins", sans-sarif;
  font-weight: 600;
  font-style: normal;
}
.btn-dark:hover, .btn-primary:hover, .btn-secondary:hover, .btn-accent:hover, .btn-gray:hover, .btn-light:hover {
  transition: 0.25s;
  text-decoration: none;
}

.btn-menu {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid;
  transition: 0.25s;
  text-decoration: none !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent;
  height: 55px;
  width: 55px;
  font-size: 1.6rem;
}
.btn-menu:hover {
  transition: 0.25s;
  text-decoration: none;
}

p {
  margin: 0;
  padding-top: 0rem;
  padding-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none !important;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.4;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

#top-bar .container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
#top-bar .container .social-links a {
  margin-left: 12px;
  color: #FFFFFF;
}
#top-bar .container .social-links a:hover {
  color: #D9C3A9;
}
#top-bar .container .social-links a[target=_blank]::after {
  content: none;
}
header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}
header .container #navbar .nav-menu a {
  margin-left: 40px;
  color: #4F5955;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}
header .container #navbar .nav-menu a.active {
  color: #D9C3A9;
}
header .container .search button {
  border-color: #FFFFFF;
}

#hero-section {
  padding-bottom: 130px;
}
#hero-section img {
  position: absolute;
}
#hero-section .container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#hero-section .container .left-content {
  padding-top: 70px;
}
#hero-section .container .left-content .btn-primary {
  margin-top: 20px;
}

#about-section {
  margin-top: 40px;
  margin-bottom: 80px;
}
#about-section .container {
  display: grid;
  grid-template-columns: 7fr 4fr;
  gap: 20px;
}
#about-section .container .left-side .quote {
  font-size: 20px;
}
#about-section .container .right-side {
  position: relative;
  z-index: 10;
  margin-top: -150px;
}
#about-section .container .right-side form {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#about-section .container .right-side form .headline {
  padding: 20px;
}
#about-section .container .right-side form .request-inputs {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
#about-section .container .right-side form .request-inputs p {
  font-size: 13px;
}
#about-section .container .right-side form .request-inputs input {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #F7F7F7;
  padding: 15px 40px;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: transparent;
}

#services-section {
  padding-top: 40px;
  padding-bottom: 70px;
}
#services-section .container .headline {
  display: block;
  justify-content: center;
  text-align: center;
}
#services-section .container .articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
#services-section .container .articles a:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
#services-section .container .articles a .box {
  border-color: 1px solid #F7F7F7;
}
#services-section .container .articles a .box h5 {
  padding: 20px;
}
#services-section .container .articles a .box p {
  padding: 20px;
}

#story-section .container {
  position: relative;
}
#story-section .container #dot-image {
  position: absolute;
  padding-top: 50px;
  z-index: -1;
}
#story-section .container .content {
  padding-top: 60px;
  display: block;
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
}
#story-section .container .content #group-img {
  padding-top: 30px;
}

footer .container {
  display: flex;
  padding-top: 20px;
}

#success-section .container {
  position: relative;
}
#success-section .container #dot-image2 {
  position: absolute;
  padding-top: 70px;
}
#success-section .container .content {
  display: block;
  justify-content: center;
  text-align: center;
  padding-top: 70px;
}
#success-section .container .content h2 {
  color: #F7F7F7;
}
#success-section .container .content .numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#success-section .container .content .numbers h1 {
  color: #D9C3A9;
  font-size: 100px;
}
#success-section .container .content #success-image {
  padding-top: 50px;
  margin-bottom: -150px;
}

#recent-section {
  padding-top: 200px;
}
#recent-section .recent-articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#recent-section .recent-articles .recent-box {
  position: relative;
}
#recent-section .recent-articles .recent-box .recent-text {
  display: grid;
  grid-template-columns: 7fr 1fr;
  background-color: #424946;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 20px;
  width: 100%;
}
#recent-section .recent-articles .recent-box .recent-text a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
#recent-section .recent-articles .recent-box .recent-text h5 {
  color: #FFFFFF;
}
#recent-section .recent-articles .recent-box .recent-text p {
  color: #FFFFFF;
}
#recent-section .recent-articles .recent-box .recent-text i {
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  color: #FFFFFF;
  font-size: 50px;
}
#recent-section .recent-articles .recent-box .recent-text:hover {
  cursor: pointer;
  opacity: 1;
  padding: 30px;
}
#recent-section .recent-articles .recent-box .recent-text:hover h5 {
  color: #D9C3A9;
}
#recent-section .recent-articles .recent-box .recent-text:hover i {
  opacity: 1;
}

#company-section .container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 40px;
}

#page-bar {
  background-color: #F7F7F7;
  padding-top: 50px;
  padding-bottom: 50px;
}
#page-bar .container {
  display: block;
  justify-content: center;
  text-align: center;
}

#first-section .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 40px;
  gap: 40px;
  padding-bottom: 40px;
}
#first-section .container .left-side img {
  padding-bottom: 20px;
}
#first-section .container .right-side p {
  font-size: 14px;
  margin-bottom: 12px;
}
#first-section .container .right-side #big-text {
  font-size: 20px;
}

#second-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #F7F7F7;
}
#second-section .container .left-side {
  padding-top: 50px;
  margin-left: 350px;
}
#second-section .container .left-side .big-quote {
  font-size: 20px;
}
#second-section .container .left-side img {
  padding-bottom: 15px;
}
#second-section #boy-img {
  width: 100%;
}

#third-section {
  padding-top: 80px;
  padding-bottom: 60px;
}
#third-section .container .headline {
  display: block;
  text-align: center;
}
#third-section .container .first-three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 40px;
}
#third-section .container .first-three .box .text {
  padding: 20px;
}
#third-section .container .second-four {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#third-section .container .second-four .box .text {
  padding: 20px;
}

#let-us-know-next-project {
  padding-bottom: 223px;
  
  padding-top: 50px;
}
#let-us-know-next-project .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
#let-us-know-next-project .container .guy-special-img #guy {
  position: absolute;
  z-index: 4;
}
#let-us-know-next-project .container .guy-special-img #corners {
  position: absolute;
  z-index: 3;
  bottom: -223px;
}
#let-us-know-next-project .container .guy-special-img #dots {
  position: absolute;
  z-index: 2;
  left: 340px;
}
#let-us-know-next-project .container .information {
  padding-top: 100px;
  padding-left: 60px;
}
#let-us-know-next-project .container .information h6 {
  color: #4F5955;
}
#let-us-know-next-project .container .information h6 i {
  color: #D9C3A9;
  padding-right: 10px;
}
#let-us-know-next-project .container .information p {
  padding-left: 24px;
}

#single-page-service {
  padding-top: 60px;
}
#single-page-service .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#single-page-service .container .left-bar {
  padding-right: 45px;
}
#single-page-service .container .left-bar .left-bar-box {
  background-color: #4F5955;
  padding: 30px;
}
#single-page-service .container .left-bar .left-bar-box h5 {
  color: #f2EDDC;
}
#single-page-service .container .left-bar .left-bar-box p {
  color: #FFFFFF;
}
#single-page-service .container .right-bar {
  border-left: 1px solid #ECECEC;
  padding-left: 45px;
}

#page-bar .container .breadcrumb {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
#page-bar .container .breadcrumb a {
  color: #4F5955;
}
#page-bar .container .breadcrumb .active {
  color: #D9C3A9;
}

#projects-page {
  padding-top: 50px;
}
#projects-page .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
#projects-page .container .left-side-content {
  padding-right: 45px;
}
#projects-page .container .left-side-content .project-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #ECECEC;
}
#projects-page .container .left-side-content .project-list .project-text h6 {
  color: #4F5955;
}
#projects-page .container .right-side-content {
  padding-left: 45px;
  border-left: 1px solid #ECECEC;
}
#projects-page .container .right-side-content .tag-buttons {
  padding-bottom: 30px;
  padding-right: 50px;
}
#projects-page .container .right-side-content .tag-buttons .btn-light {
  cursor: pointer;
  border-radius: 25px;
  border-color: #ECECEC;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 13px;
  padding: 10px 20px;
}
#projects-page .container .right-side-content .right-side-box {
  background-color: #4F5955;
  padding: 30px;
}
#projects-page .container .right-side-content .right-side-box h5 {
  color: #f2EDDC;
}
#projects-page .container .right-side-content .right-side-box p {
  color: #FFFFFF;
}
#projects-page .container .right-side-content .right-side-box input {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #F7F7F7;
  padding: 15px 40px;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
}
#single-project-page {
  padding-top: 50px;
}
#single-project-page .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
#single-project-page .container .left-side-content {
  padding-right: 45px;
}
#single-project-page .container .right-side-content {
  padding-left: 45px;
  border-left: 1px solid #ECECEC;
}
#single-project-page .container .right-side-content .tag-buttons {
  padding-bottom: 30px;
  padding-right: 50px;
}
#single-project-page .container .right-side-content .tag-buttons .btn-light {
  cursor: pointer;
  border-radius: 25px;
  border-color: #ECECEC;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 13px;
  padding: 10px 20px;
}
#single-project-page .container .right-side-content .right-side-box {
  background-color: #4F5955;
  padding: 30px;
}
#single-project-page .container .right-side-content .right-side-box h5 {
  color: #f2EDDC;
}
#single-project-page .container .right-side-content .right-side-box p {
  color: #FFFFFF;
}

#have-a-question {
  padding-top: 40px;
  padding-bottom: 50px;
}
#have-a-question .container form .question-headline h3 {
  font-size: 25px;
  color: #4F5955;
}
#have-a-question .container form .question-inputs {
  display: grid;
  grid-template-areas: "name email" "question question";
  gap: 20px;
}
#have-a-question .container form .question-inputs .name-input {
  grid-area: name;
}
#have-a-question .container form .question-inputs .email-input {
  grid-area: email;
}
#have-a-question .container form .question-inputs .q-input {
  grid-area: question;
  height: 200px;
  vertical-align: top;
}
#have-a-question .container form .question-inputs textarea {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #F7F7F7;
  padding: 15px 40px;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: transparent;
  resize: none;
}
#have-a-question .container form .question-inputs input {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #F7F7F7;
  padding: 15px 40px;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: transparent;
}
#have-a-question .container form .btn-primary {
  margin-top: 20px;
}
#contact-form {
  padding-bottom: 40px;
}
#contact-form #contact-map {
  position: relative;
  z-index: 1;
}
#contact-form .container {
  position: relative;
  
}
#contact-form .container .content {
  background-color: #FFFFFF;
  padding: 100px;
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-top: -400px;
  border: 1px solid #F7F7F7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#contact-form .container .content .headline-texts {
  text-align: center;
  padding-right: 200px;
  padding-left: 200px;
}
#contact-form .container .content .inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
#contact-form .container .content .inputs input {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #F7F7F7;
  padding: 15px 40px;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: transparent;
}
#contact-form .container .content .btn-primary {
  margin-top: 30px;
  margin-left: 415px;
}