<?xml version="1.0" encoding="utf-8"?>
<Media Key="87827e10-41ce-4bf8-b4f1-3dd74707deb9" Alias="5corner-bg-for-let-us-know-next-project.svg" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/cornerBgForLetUsKnowNextProjectsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:28:25</CreateDate>
    <NodeName Default="5corner-bg-for-let-us-know-next-project.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2lbdazov/5corner-bg-for-let-us-know-next-project.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>