<?xml version="1.0" encoding="utf-8"?>
<Media Key="96329b72-03db-4254-af31-3f27a7888e2f" Alias="5corner-bg-for-let-us-know-next-project.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/cornerBgForLetUsKnowNextProjectsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T12:10:34</CreateDate>
    <NodeName Default="5corner-bg-for-let-us-know-next-project.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qatja3ga/5corner-bg-for-let-us-know-next-project.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>