<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4c21a24-1d65-4b83-8fe0-ea0bf5794d11" Alias="aboutusgirl.svg" Level="2">
  <Info>
    <Parent Key="e7960c6b-f924-45ac-bc65-1828998ba17a">Aboutpage</Parent>
    <Path>/Aboutpage/aboutusgirlsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T13:05:35</CreateDate>
    <NodeName Default="aboutusgirl.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/00thavt4/aboutusgirl.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>