<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c056d51-8034-40e6-b2f6-aa9260432747" Alias="aboutusboy.svg" Level="2">
  <Info>
    <Parent Key="e7960c6b-f924-45ac-bc65-1828998ba17a">Aboutpage</Parent>
    <Path>/Aboutpage/aboutusboysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T13:05:42</CreateDate>
    <NodeName Default="aboutusboy.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/upikplrp/aboutusboy.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>