<?xml version="1.0" encoding="utf-8"?>
<Media Key="4347b6d4-6e48-480a-a57e-160a3d4cb208" Alias="article-img4.svg" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/articleImg4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:28:29</CreateDate>
    <NodeName Default="article-img4.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eyfplikt/article-img4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>