<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ff0b6e0-9f38-4260-91cb-bc08e95d2103" Alias="article-img3.svg" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/articleImg3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:28:28</CreateDate>
    <NodeName Default="article-img3.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ciffe1jd/article-img3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>