<?xml version="1.0" encoding="utf-8"?>
<Media Key="25c2a65d-f07b-4108-9a95-d374e02ac3c7" Alias="article-img6.svg" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/articleImg6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:28:30</CreateDate>
    <NodeName Default="article-img6.svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v2nhbr1a/article-img6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>