<?xml version="1.0" encoding="utf-8"?>
<Media Key="81975fd2-140c-4be6-b240-ba973df2f71e" Alias="article-img5.svg" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/articleImg5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:28:30</CreateDate>
    <NodeName Default="article-img5.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/edrdkyyx/article-img5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>