<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab1a7973-52ef-42db-942e-e7317fee4fa3" Alias="backgrounds" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/backgrounds</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-09T12:19:15</CreateDate>
    <NodeName Default="backgrounds" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>