<?xml version="1.0" encoding="utf-8"?>
<Media Key="efdf553a-f82a-44e9-b7cc-2bf1974984c5" Alias="company5.svg" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/company5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:28:12</CreateDate>
    <NodeName Default="company5.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zduh0djr/company5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>