<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1afca40-65fe-4086-898d-3c8c24903747" Alias="company4.svg" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/company4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:28:34</CreateDate>
    <NodeName Default="company4.svg" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wj1b0e5f/company4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>