<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf8fe3a0-c950-4ceb-b5cf-42eccb5891e1" Alias="company1.svg" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/company1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:28:32</CreateDate>
    <NodeName Default="company1.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kjpc0xkl/company1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>