<?xml version="1.0" encoding="utf-8"?>
<Media Key="59a51c04-8097-4abe-ad4b-28d127ac72a2" Alias="company2.svg" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/company2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:28:32</CreateDate>
    <NodeName Default="company2.svg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/40qbpo2m/company2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>