<?xml version="1.0" encoding="utf-8"?>
<Media Key="c44f08f5-e0e4-4f29-91b6-8b4884414ec1" Alias="company6.svg" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/company6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:28:13</CreateDate>
    <NodeName Default="company6.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a40p0jx5/company6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>