<?xml version="1.0" encoding="utf-8"?>
<Media Key="e02b2bcd-8822-4406-bc35-b0539d04c321" Alias="contact-map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contactMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T10:13:48</CreateDate>
    <NodeName Default="contact-map.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h4lisarz/contact-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>