<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9958e9f-28dc-476d-8f5f-e6abbe7b2831" Alias="dot-map2.svg (1)" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/dotMap2svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T12:03:44</CreateDate>
    <NodeName Default="dot-map2.svg (1)" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nuzdow4h/dot-map2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>