<?xml version="1.0" encoding="utf-8"?>
<Media Key="25c2900c-39ea-4418-ba80-4aa8c8651d96" Alias="dot-map.svg (1)" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/dotMapsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T12:06:40</CreateDate>
    <NodeName Default="dot-map.svg (1)" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5ywhbr5r/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>