<?xml version="1.0" encoding="utf-8"?>
<Media Key="f051f2bc-0307-486f-87ac-9f08ebdfb0b9" Alias="dot-map.svg" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/dotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:28:13</CreateDate>
    <NodeName Default="dot-map.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jzhpgeq2/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>