<?xml version="1.0" encoding="utf-8"?>
<Media Key="d90b9457-f1dd-46d1-a00a-b47e291bf642" Alias="dots-for-let-us-know-next-project.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotsForLetUsKnowNextProjectsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T12:10:37</CreateDate>
    <NodeName Default="dots-for-let-us-know-next-project.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uuulso4g/dots-for-let-us-know-next-project.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>