<?xml version="1.0" encoding="utf-8"?>
<Media Key="1afbf5c6-23a4-4434-92a6-032ffea03501" Alias="dots-for-let-us-know-next-project.svg" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/dotsForLetUsKnowNextProjectsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:28:15</CreateDate>
    <NodeName Default="dots-for-let-us-know-next-project.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/greft4f5/dots-for-let-us-know-next-project.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>