<?xml version="1.0" encoding="utf-8"?>
<Media Key="da9e3254-c31e-45b7-894f-75515db17f83" Alias="expert-tina.svg" Level="2">
  <Info>
    <Parent Key="e7960c6b-f924-45ac-bc65-1828998ba17a">Aboutpage</Parent>
    <Path>/Aboutpage/expertTinasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T13:05:41</CreateDate>
    <NodeName Default="expert-tina.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u0hdyoaf/expert-tina.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>