<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ca0fbd8-0e5b-47a3-98cd-a654d32852c9" Alias="expert-brandon.svg" Level="2">
  <Info>
    <Parent Key="e7960c6b-f924-45ac-bc65-1828998ba17a">Aboutpage</Parent>
    <Path>/Aboutpage/expertBrandonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T13:05:37</CreateDate>
    <NodeName Default="expert-brandon.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fjdafpsa/expert-brandon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>