<?xml version="1.0" encoding="utf-8"?>
<Media Key="28ec09ca-764f-4284-b978-7964ff809592" Alias="expert-kevin.svg" Level="2">
  <Info>
    <Parent Key="e7960c6b-f924-45ac-bc65-1828998ba17a">Aboutpage</Parent>
    <Path>/Aboutpage/expertKevinsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T13:05:39</CreateDate>
    <NodeName Default="expert-kevin.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hc0e3ssu/expert-kevin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>