<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae4aec86-1ad3-45d3-8afe-7e288e348e79" Alias="expert-aj.svg" Level="2">
  <Info>
    <Parent Key="e7960c6b-f924-45ac-bc65-1828998ba17a">Aboutpage</Parent>
    <Path>/Aboutpage/expertAjsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T13:05:37</CreateDate>
    <NodeName Default="expert-aj.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oripqtgi/expert-aj.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>