<?xml version="1.0" encoding="utf-8"?>
<Media Key="c885bd06-f6d8-4f56-a088-95fdbd40b358" Alias="expert-miranda.svg" Level="2">
  <Info>
    <Parent Key="e7960c6b-f924-45ac-bc65-1828998ba17a">Aboutpage</Parent>
    <Path>/Aboutpage/expertMirandasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T13:05:40</CreateDate>
    <NodeName Default="expert-miranda.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4qacokwd/expert-miranda.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>