<?xml version="1.0" encoding="utf-8"?>
<Media Key="e828d580-26f9-486c-8f82-36b79f617862" Alias="expert-aaron.svg" Level="2">
  <Info>
    <Parent Key="e7960c6b-f924-45ac-bc65-1828998ba17a">Aboutpage</Parent>
    <Path>/Aboutpage/expertAaronsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T13:05:36</CreateDate>
    <NodeName Default="expert-aaron.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ojuiucxc/expert-aaron.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>