<?xml version="1.0" encoding="utf-8"?>
<Media Key="793137e0-6ee9-439b-8181-4492fd51a85f" Alias="home" Level="2">
  <Info>
    <Parent Key="ab1a7973-52ef-42db-942e-e7317fee4fa3">backgrounds</Parent>
    <Path>/backgrounds/home</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T09:28:01</CreateDate>
    <NodeName Default="home" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>