<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ccdde5b-3024-4806-8482-f78947fc9e48" Alias="let-us-know-next-project-guy.svg" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/letUsKnowNextProjectGuysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:28:17</CreateDate>
    <NodeName Default="let-us-know-next-project-guy.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vfrh45r5/let-us-know-next-project-guy.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>