<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7700592-6c74-447e-b6c9-4949f8ecdbab" Alias="logo-onatrix.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logoOnatrixjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T12:27:08</CreateDate>
    <NodeName Default="logo-onatrix.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dxhdmqi3/logo-onatrix.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>