<?xml version="1.0" encoding="utf-8"?>
<Media Key="5aa17ddc-0703-4108-a897-1d87b89b14de" Alias="onatrix-logo.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/onatrixLogosvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:25:55</CreateDate>
    <NodeName Default="onatrix-logo.svg (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f1aahoay/onatrix-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>