<?xml version="1.0" encoding="utf-8"?>
<Media Key="96895a14-b6f4-40c2-8b4b-a48b61cd8cb3" Alias="onatrix-logo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/onatrixLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:21:35</CreateDate>
    <NodeName Default="onatrix-logo.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/21tdw3hp/onatrix-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>