<?xml version="1.0" encoding="utf-8"?>
<Media Key="54fd1bea-81b4-4e6d-9066-813f16a6f305" Alias="onatrix-logo.svg" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/onatrixLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:28:17</CreateDate>
    <NodeName Default="onatrix-logo.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dctf5nvp/onatrix-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>