<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d5ea74d-a82f-4663-8c33-784ad8d712d4" Alias="project-budgetplanning.svg" Level="2">
  <Info>
    <Parent Key="4ab15706-8e34-4e0d-99ab-bedb5c8a83c6">projects</Parent>
    <Path>/projects/projectBudgetplanningsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T11:08:32</CreateDate>
    <NodeName Default="project-budgetplanning.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x2npzxzu/project-budgetplanning.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>