<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5cdec2b-5743-4c2a-a277-01eb87533ccf" Alias="project-financialadvisors.svg" Level="2">
  <Info>
    <Parent Key="4ab15706-8e34-4e0d-99ab-bedb5c8a83c6">projects</Parent>
    <Path>/projects/projectFinancialadvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T11:08:33</CreateDate>
    <NodeName Default="project-financialadvisors.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1fih4b0y/project-financialadvisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>