<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ab15706-8e34-4e0d-99ab-bedb5c8a83c6" Alias="projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-17T11:08:19</CreateDate>
    <NodeName Default="projects" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>