<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2eb64c3-bbe2-4483-9484-896109235914" Alias="project-annualreport.svg" Level="2">
  <Info>
    <Parent Key="4ab15706-8e34-4e0d-99ab-bedb5c8a83c6">projects</Parent>
    <Path>/projects/projectAnnualreportsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T11:08:31</CreateDate>
    <NodeName Default="project-annualreport.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ghmfsihz/project-annualreport.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>