<?xml version="1.0" encoding="utf-8"?>
<Media Key="3cb9d4ee-c610-4a78-afa2-6a511a719485" Alias="project-businessinsights.svg" Level="2">
  <Info>
    <Parent Key="4ab15706-8e34-4e0d-99ab-bedb5c8a83c6">projects</Parent>
    <Path>/projects/projectBusinessinsightssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T11:08:32</CreateDate>
    <NodeName Default="project-businessinsights.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/drubxxql/project-businessinsights.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>