<?xml version="1.0" encoding="utf-8"?>
<Media Key="54ede2bf-616a-4e7f-b49b-1f6c4a76c6ca" Alias="recentimg2.svg" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/recentimg2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:28:19</CreateDate>
    <NodeName Default="recentimg2.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jvpf5ntr/recentimg2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>