<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ddad967-9201-4e13-94b9-03d8adf476e2" Alias="recentimg3.svg" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/recentimg3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:28:20</CreateDate>
    <NodeName Default="recentimg3.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/svshrty0/recentimg3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>