<?xml version="1.0" encoding="utf-8"?>
<Media Key="3aa04b64-9993-4287-86b5-370d7714c55e" Alias="recentimg1.svg" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/recentimg1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:28:19</CreateDate>
    <NodeName Default="recentimg1.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s11afwei/recentimg1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>