<?xml version="1.0" encoding="utf-8"?>
<Media Key="45cd718f-0e52-4774-b999-e60c27fa9270" Alias="recentimg4.svg" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/recentimg4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:28:21</CreateDate>
    <NodeName Default="recentimg4.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pxgg5j0j/recentimg4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>