<?xml version="1.0" encoding="utf-8"?>
<Media Key="b44a93b4-b819-4fe0-8b3b-e922296e1529" Alias="riskmanagement2.svg" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/riskmanagement2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T12:21:07</CreateDate>
    <NodeName Default="riskmanagement2.svg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iyxoqvqc/riskmanagement2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>