<?xml version="1.0" encoding="utf-8"?>
<Media Key="c154b984-91cb-42b4-a591-ebd9657b6c46" Alias="signature.svg" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/signaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:28:22</CreateDate>
    <NodeName Default="signature.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oycpmi4q/signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>