<?xml version="1.0" encoding="utf-8"?>
<Media Key="58d139ef-bb88-41a0-8f21-caa096bcc6a8" Alias="single-project-page2.svg" Level="2">
  <Info>
    <Parent Key="4ab15706-8e34-4e0d-99ab-bedb5c8a83c6">projects</Parent>
    <Path>/projects/singleProjectPage2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T11:08:37</CreateDate>
    <NodeName Default="single-project-page2.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dwchhout/single-project-page2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>