<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b75c1ac-7044-4a08-ab49-97be8497f75b" Alias="single-project-page3.svg" Level="2">
  <Info>
    <Parent Key="4ab15706-8e34-4e0d-99ab-bedb5c8a83c6">projects</Parent>
    <Path>/projects/singleProjectPage3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T11:08:38</CreateDate>
    <NodeName Default="single-project-page3.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lz4npkk5/single-project-page3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>