<?xml version="1.0" encoding="utf-8"?>
<Media Key="16c1efd1-bdfd-4abf-b332-bac19c218d9d" Alias="sl-home2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T14:08:08</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/enjgh3hg/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>