<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd48d56c-ac06-4633-a861-9711c0f0be0f" Alias="sl-home2.svg" Level="3">
  <Info>
    <Parent Key="793137e0-6ee9-439b-8181-4492fd51a85f">home</Parent>
    <Path>/backgrounds/home/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:28:23</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tzuouhy3/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>