<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ca21af6-b296-4d7e-b2e7-9365053384ce" Alias="sl-home2.svg" Level="2">
  <Info>
    <Parent Key="ab1a7973-52ef-42db-942e-e7317fee4fa3">backgrounds</Parent>
    <Path>/backgrounds/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:20:06</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/astbblun/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>