<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2973a47-30b8-40b4-a780-60c53cd82af0" Alias="stars.svg" Level="2">
  <Info>
    <Parent Key="e7960c6b-f924-45ac-bc65-1828998ba17a">Aboutpage</Parent>
    <Path>/Aboutpage/starssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T13:05:42</CreateDate>
    <NodeName Default="stars.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wwddkufd/stars.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>