<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2a21f6e-27a8-41a3-9c2f-500abb3d5bd3" Alias="About" Level="2">
  <Info>
    <Parent Key="d3ebb37a-2047-4e87-9101-67d4f9f03e28">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2024-09-10T10:42:37</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a4db5814-62b7-4052-8a0f-d72ed093818f">aboutPage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[]]></Value>
    </aboutHeadline>
    <aboutQuote>
      <Value><![CDATA[]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[]]></Value>
    </aboutSignatureImage>
    <aboutText>
      <Value><![CDATA[]]></Value>
    </aboutText>
    <ceoSectionCeo>
      <Value><![CDATA[Tina Fox - CEO & Founder at Onatrix]]></Value>
    </ceoSectionCeo>
    <ceoSectionImg>
      <Value><![CDATA[[
  {
    "key": "b513e590-fb1b-40a6-96f0-4fd796acd17a",
    "mediaKey": "b4c21a24-1d65-4b83-8fe0-ea0bf5794d11",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ceoSectionImg>
    <ceoSectionQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </ceoSectionQuote>
    <ceoSectionText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.]]></Value>
    </ceoSectionText>
    <ceoSectionText2>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum.]]></Value>
    </ceoSectionText2>
    <ceoSectionText3>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </ceoSectionText3>
    <ceoSectionText4>
      <Value><![CDATA[Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero.]]></Value>
    </ceoSectionText4>
    <ceoSectionText5>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum  i commodo, eros quis consequat consequat.]]></Value>
    </ceoSectionText5>
    <ceoSectionText6>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </ceoSectionText6>
    <ceoSectionText7>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </ceoSectionText7>
    <companyImageFive>
      <Value><![CDATA[]]></Value>
    </companyImageFive>
    <companyImageFour>
      <Value><![CDATA[]]></Value>
    </companyImageFour>
    <companyImageOne>
      <Value><![CDATA[]]></Value>
    </companyImageOne>
    <companyImageSix>
      <Value><![CDATA[]]></Value>
    </companyImageSix>
    <companyImageThree>
      <Value><![CDATA[]]></Value>
    </companyImageThree>
    <companyImageTwo>
      <Value><![CDATA[]]></Value>
    </companyImageTwo>
    <heroBackgroundImage>
      <Value><![CDATA[]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[]]></Value>
    </heroText>
    <nextProjectGuyImg>
      <Value><![CDATA[[
  {
    "key": "e127a584-0001-47da-9213-b5e6621a6081",
    "mediaKey": "9ccdde5b-3024-4806-8482-f78947fc9e48",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectGuyImg>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <recentBoxFourH5>
      <Value><![CDATA[]]></Value>
    </recentBoxFourH5>
    <recentBoxFourImg>
      <Value><![CDATA[]]></Value>
    </recentBoxFourImg>
    <recentBoxFourText>
      <Value><![CDATA[]]></Value>
    </recentBoxFourText>
    <recentBoxOneH5>
      <Value><![CDATA[]]></Value>
    </recentBoxOneH5>
    <recentBoxOneImg>
      <Value><![CDATA[]]></Value>
    </recentBoxOneImg>
    <recentBoxOneText>
      <Value><![CDATA[]]></Value>
    </recentBoxOneText>
    <recentBoxThreeH5>
      <Value><![CDATA[]]></Value>
    </recentBoxThreeH5>
    <recentBoxThreeImg>
      <Value><![CDATA[]]></Value>
    </recentBoxThreeImg>
    <recentBoxThreeText>
      <Value><![CDATA[]]></Value>
    </recentBoxThreeText>
    <recentBoxTwoh5>
      <Value><![CDATA[]]></Value>
    </recentBoxTwoh5>
    <recentBoxTwoImage>
      <Value><![CDATA[]]></Value>
    </recentBoxTwoImage>
    <recentBoxTwoText>
      <Value><![CDATA[]]></Value>
    </recentBoxTwoText>
    <recentHeadline>
      <Value><![CDATA[]]></Value>
    </recentHeadline>
    <recentSectionTitle>
      <Value><![CDATA[]]></Value>
    </recentSectionTitle>
    <reviewBank>
      <Value><![CDATA[Swebank]]></Value>
    </reviewBank>
    <reviewGuyImage>
      <Value><![CDATA[[
  {
    "key": "92c984b8-9c00-4679-9873-c337197dc0e8",
    "mediaKey": "4c056d51-8034-40e6-b2f6-aa9260432747",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </reviewGuyImage>
    <reviewHeadline>
      <Value><![CDATA[Trusted by some Biggest Names]]></Value>
    </reviewHeadline>
    <reviewName>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </reviewName>
    <reviewSectionTitle>
      <Value><![CDATA[GREAT REVIEWS FOR OUR SERVICES]]></Value>
    </reviewSectionTitle>
    <reviewStarImg>
      <Value><![CDATA[[
  {
    "key": "36aa4eb2-2f80-4263-a45f-1fce97567229",
    "mediaKey": "b2973a47-30b8-40b4-a780-60c53cd82af0",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </reviewStarImg>
    <reviewText>
      <Value><![CDATA[Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals.]]></Value>
    </reviewText>
    <servicesSectionHeadline>
      <Value><![CDATA[]]></Value>
    </servicesSectionHeadline>
    <servicesSectionTitle>
      <Value><![CDATA[]]></Value>
    </servicesSectionTitle>
    <storyBackgroundDotImage>
      <Value><![CDATA[]]></Value>
    </storyBackgroundDotImage>
    <storyButtonText>
      <Value><![CDATA[]]></Value>
    </storyButtonText>
    <storyButtonUrl>
      <Value><![CDATA[]]></Value>
    </storyButtonUrl>
    <storyHeadline>
      <Value><![CDATA[]]></Value>
    </storyHeadline>
    <storyImage>
      <Value><![CDATA[]]></Value>
    </storyImage>
    <storyText>
      <Value><![CDATA[]]></Value>
    </storyText>
    <successBoxOneNumber>
      <Value><![CDATA[]]></Value>
    </successBoxOneNumber>
    <successBoxOneText>
      <Value><![CDATA[]]></Value>
    </successBoxOneText>
    <successBoxThreeNumber>
      <Value><![CDATA[]]></Value>
    </successBoxThreeNumber>
    <successBoxThreeText>
      <Value><![CDATA[]]></Value>
    </successBoxThreeText>
    <successBoxTwoNumber>
      <Value><![CDATA[]]></Value>
    </successBoxTwoNumber>
    <successBoxTwoText>
      <Value><![CDATA[]]></Value>
    </successBoxTwoText>
    <successDotbackgroundImg>
      <Value><![CDATA[]]></Value>
    </successDotbackgroundImg>
    <successHeadline>
      <Value><![CDATA[]]></Value>
    </successHeadline>
    <successImage>
      <Value><![CDATA[]]></Value>
    </successImage>
    <successSectionTitle>
      <Value><![CDATA[]]></Value>
    </successSectionTitle>
    <title>
      <Value><![CDATA[About Us]]></Value>
    </title>
    <workersHeadline>
      <Value><![CDATA[A team of professionals with years of experience]]></Value>
    </workersHeadline>
    <workersSectionTitle>
      <Value><![CDATA[Our expert]]></Value>
    </workersSectionTitle>
    <workersWorkerFiveImg>
      <Value><![CDATA[[
  {
    "key": "9fe4cecf-e298-430d-8699-c4b3e024c279",
    "mediaKey": "ebe886fb-bf2e-498e-ae2c-7e8811a65cff",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </workersWorkerFiveImg>
    <workersWorkerFiveName>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </workersWorkerFiveName>
    <workersWorkerFiveRole>
      <Value><![CDATA[ CFO & Co-Founderat Onatrix]]></Value>
    </workersWorkerFiveRole>
    <workersWorkerFourImg>
      <Value><![CDATA[[
  {
    "key": "755a9c0e-e8fe-4876-a0cd-5de73b07945b",
    "mediaKey": "da9e3254-c31e-45b7-894f-75515db17f83",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </workersWorkerFourImg>
    <workersWorkerFourName>
      <Value><![CDATA[Tina Fox]]></Value>
    </workersWorkerFourName>
    <workersWorkerFourRole>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </workersWorkerFourRole>
    <workersWorkerOneImg>
      <Value><![CDATA[[
  {
    "key": "f505a945-d79c-48ec-ab88-4d452fa62538",
    "mediaKey": "5ca0fbd8-0e5b-47a3-98cd-a654d32852c9",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </workersWorkerOneImg>
    <workersWorkerOneName>
      <Value><![CDATA[Brandon Newton]]></Value>
    </workersWorkerOneName>
    <workersWorkerOneRole>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </workersWorkerOneRole>
    <workersWorkerSevenImg>
      <Value><![CDATA[[
  {
    "key": "a1bc6120-cacf-44f5-8cb5-b6b90948fb36",
    "mediaKey": "28ec09ca-764f-4284-b978-7964ff809592",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </workersWorkerSevenImg>
    <workersWorkerSevenName>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </workersWorkerSevenName>
    <workersWorkerSevenRole>
      <Value><![CDATA[Banking Advisor at Swedbank]]></Value>
    </workersWorkerSevenRole>
    <workersWorkerSixImg>
      <Value><![CDATA[[
  {
    "key": "58024e38-9274-44a4-ad0a-009872adf9b9",
    "mediaKey": "c885bd06-f6d8-4f56-a088-95fdbd40b358",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </workersWorkerSixImg>
    <workersWorkerSixName>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </workersWorkerSixName>
    <workersWorkerSixRole>
      <Value><![CDATA[Head of HR at Onatrix]]></Value>
    </workersWorkerSixRole>
    <workersWorkerThreeImg>
      <Value><![CDATA[[
  {
    "key": "304aeaa9-ba70-49e2-a75b-7790b9896ee4",
    "mediaKey": "e828d580-26f9-486c-8f82-36b79f617862",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </workersWorkerThreeImg>
    <workersWorkerThreeName>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </workersWorkerThreeName>
    <workersWorkerThreeRole>
      <Value><![CDATA[Business Specialist at Onatrix]]></Value>
    </workersWorkerThreeRole>
    <workersWorkerTwoImg>
      <Value><![CDATA[[
  {
    "key": "ef0ac072-a5f4-497a-ae25-3f62551dcc4e",
    "mediaKey": "ae4aec86-1ad3-45d3-8afe-7e288e348e79",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </workersWorkerTwoImg>
    <workersWorkerTwoName>
      <Value><![CDATA[AJ Carter]]></Value>
    </workersWorkerTwoName>
    <workersWorkerTwoRole>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </workersWorkerTwoRole>
  </Properties>
</Content>