<?xml version="1.0" encoding="utf-8"?>
<Content Key="806baa6e-bf79-4fba-846f-3c0f328ed87a" Alias="Contact" Level="2">
  <Info>
    <Parent Key="d3ebb37a-2047-4e87-9101-67d4f9f03e28">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-09-11T11:02:35</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="626bf717-9883-4e89-8257-d049ecdc709e">contactPage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[]]></Value>
    </aboutHeadline>
    <aboutQuote>
      <Value><![CDATA[]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[]]></Value>
    </aboutSignatureImage>
    <aboutText>
      <Value><![CDATA[]]></Value>
    </aboutText>
    <companyImageFive>
      <Value><![CDATA[]]></Value>
    </companyImageFive>
    <companyImageFour>
      <Value><![CDATA[]]></Value>
    </companyImageFour>
    <companyImageOne>
      <Value><![CDATA[]]></Value>
    </companyImageOne>
    <companyImageSix>
      <Value><![CDATA[]]></Value>
    </companyImageSix>
    <companyImageThree>
      <Value><![CDATA[]]></Value>
    </companyImageThree>
    <companyImageTwo>
      <Value><![CDATA[]]></Value>
    </companyImageTwo>
    <contactCompany1>
      <Value><![CDATA[[
  {
    "key": "2594497e-dbd3-48ff-a3af-f893f0a8ad1a",
    "mediaKey": "bf8fe3a0-c950-4ceb-b5cf-42eccb5891e1",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactCompany1>
    <contactCompany2>
      <Value><![CDATA[[
  {
    "key": "aa4dcc57-bb2e-4766-9faa-b8ef6395b002",
    "mediaKey": "59a51c04-8097-4abe-ad4b-28d127ac72a2",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactCompany2>
    <contactCompany3>
      <Value><![CDATA[[
  {
    "key": "fa9ed65c-dc6c-4fb3-8ace-3a304406cf9b",
    "mediaKey": "03ce06e6-a313-4ad4-846e-1eb72239d700",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactCompany3>
    <contactCompany4>
      <Value><![CDATA[[
  {
    "key": "d8840d1a-3ade-4b27-9220-fc5098a97923",
    "mediaKey": "f1afca40-65fe-4086-898d-3c8c24903747",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactCompany4>
    <contactCompany5>
      <Value><![CDATA[[
  {
    "key": "17058582-edb6-4882-8352-246c8b66360c",
    "mediaKey": "efdf553a-f82a-44e9-b7cc-2bf1974984c5",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactCompany5>
    <contactCompany6>
      <Value><![CDATA[[
  {
    "key": "ebdc9b09-5761-4e4f-b9f1-dc5214086886",
    "mediaKey": "c44f08f5-e0e4-4f29-91b6-8b4884414ec1",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactCompany6>
    <contactMapImage>
      <Value><![CDATA[[
  {
    "key": "d64d8633-3f2b-468d-a17a-28183b298cf2",
    "mediaKey": "e02b2bcd-8822-4406-bc35-b0539d04c321",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactMapImage>
    <heroBackgroundImage>
      <Value><![CDATA[]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[]]></Value>
    </heroText>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <recentBoxFourH5>
      <Value><![CDATA[]]></Value>
    </recentBoxFourH5>
    <recentBoxFourImg>
      <Value><![CDATA[]]></Value>
    </recentBoxFourImg>
    <recentBoxFourText>
      <Value><![CDATA[]]></Value>
    </recentBoxFourText>
    <recentBoxOneH5>
      <Value><![CDATA[]]></Value>
    </recentBoxOneH5>
    <recentBoxOneImg>
      <Value><![CDATA[]]></Value>
    </recentBoxOneImg>
    <recentBoxOneText>
      <Value><![CDATA[]]></Value>
    </recentBoxOneText>
    <recentBoxThreeH5>
      <Value><![CDATA[]]></Value>
    </recentBoxThreeH5>
    <recentBoxThreeImg>
      <Value><![CDATA[]]></Value>
    </recentBoxThreeImg>
    <recentBoxThreeText>
      <Value><![CDATA[]]></Value>
    </recentBoxThreeText>
    <recentBoxTwoh5>
      <Value><![CDATA[]]></Value>
    </recentBoxTwoh5>
    <recentBoxTwoImage>
      <Value><![CDATA[]]></Value>
    </recentBoxTwoImage>
    <recentBoxTwoText>
      <Value><![CDATA[]]></Value>
    </recentBoxTwoText>
    <recentHeadline>
      <Value><![CDATA[]]></Value>
    </recentHeadline>
    <recentSectionTitle>
      <Value><![CDATA[]]></Value>
    </recentSectionTitle>
    <servicesSectionHeadline>
      <Value><![CDATA[]]></Value>
    </servicesSectionHeadline>
    <servicesSectionTitle>
      <Value><![CDATA[]]></Value>
    </servicesSectionTitle>
    <storyBackgroundDotImage>
      <Value><![CDATA[]]></Value>
    </storyBackgroundDotImage>
    <storyButtonText>
      <Value><![CDATA[]]></Value>
    </storyButtonText>
    <storyButtonUrl>
      <Value><![CDATA[]]></Value>
    </storyButtonUrl>
    <storyHeadline>
      <Value><![CDATA[]]></Value>
    </storyHeadline>
    <storyImage>
      <Value><![CDATA[]]></Value>
    </storyImage>
    <storyText>
      <Value><![CDATA[]]></Value>
    </storyText>
    <successBoxOneNumber>
      <Value><![CDATA[]]></Value>
    </successBoxOneNumber>
    <successBoxOneText>
      <Value><![CDATA[]]></Value>
    </successBoxOneText>
    <successBoxThreeNumber>
      <Value><![CDATA[]]></Value>
    </successBoxThreeNumber>
    <successBoxThreeText>
      <Value><![CDATA[]]></Value>
    </successBoxThreeText>
    <successBoxTwoNumber>
      <Value><![CDATA[]]></Value>
    </successBoxTwoNumber>
    <successBoxTwoText>
      <Value><![CDATA[]]></Value>
    </successBoxTwoText>
    <successDotbackgroundImg>
      <Value><![CDATA[]]></Value>
    </successDotbackgroundImg>
    <successHeadline>
      <Value><![CDATA[]]></Value>
    </successHeadline>
    <successImage>
      <Value><![CDATA[]]></Value>
    </successImage>
    <successSectionTitle>
      <Value><![CDATA[]]></Value>
    </successSectionTitle>
    <title>
      <Value><![CDATA[Contact]]></Value>
    </title>
  </Properties>
</Content>