<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3ebb37a-2047-4e87-9101-67d4f9f03e28" Alias="Onatrix Official - Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnatrixOfficialHome</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-09-09T14:07:12</CreateDate>
    <NodeName Default="Onatrix Official - Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bd2bd1dd-e77b-444b-ab5b-ef2c513c92d0">homePage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutHeadline>
    <aboutQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[[
  {
    "key": "6c64fe0c-8066-44e7-89f5-ae590f96db72",
    "mediaKey": "c154b984-91cb-42b4-a591-ebd9657b6c46",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignatureImage>
    <aboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutText>
    <companyImageFive>
      <Value><![CDATA[[
  {
    "key": "1da1a0da-07fc-415c-bab0-c676aaddb0bd",
    "mediaKey": "efdf553a-f82a-44e9-b7cc-2bf1974984c5",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </companyImageFive>
    <companyImageFour>
      <Value><![CDATA[[
  {
    "key": "64859eb9-fa2b-41c6-90ea-7aacb290e8e0",
    "mediaKey": "f1afca40-65fe-4086-898d-3c8c24903747",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </companyImageFour>
    <companyImageOne>
      <Value><![CDATA[[
  {
    "key": "2f102f8b-d302-40a0-a09e-bb89e9543b36",
    "mediaKey": "bf8fe3a0-c950-4ceb-b5cf-42eccb5891e1",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </companyImageOne>
    <companyImageSix>
      <Value><![CDATA[[
  {
    "key": "0b25dce4-43bf-4668-8e48-2fdfb750152b",
    "mediaKey": "c44f08f5-e0e4-4f29-91b6-8b4884414ec1",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </companyImageSix>
    <companyImageThree>
      <Value><![CDATA[[
  {
    "key": "f8bbb7b4-a102-48d0-bed3-3dc9e6a06421",
    "mediaKey": "03ce06e6-a313-4ad4-846e-1eb72239d700",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </companyImageThree>
    <companyImageTwo>
      <Value><![CDATA[[
  {
    "key": "2ff99f40-dcd6-4bfe-ac23-9b201e5b5030",
    "mediaKey": "59a51c04-8097-4abe-ad4b-28d127ac72a2",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </companyImageTwo>
    <heroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "45c4cd72-9543-4c3c-a297-f9a67a32e3d3",
    "mediaKey": "16c1efd1-bdfd-4abf-b332-bac19c218d9d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[Contact us]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[/contact]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroText>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <recentBoxFourH5>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </recentBoxFourH5>
    <recentBoxFourImg>
      <Value><![CDATA[[
  {
    "key": "7adc93ae-1478-4cc3-bfe6-09b757d5559d",
    "mediaKey": "45cd718f-0e52-4774-b999-e60c27fa9270",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentBoxFourImg>
    <recentBoxFourText>
      <Value><![CDATA[Financial Services]]></Value>
    </recentBoxFourText>
    <recentBoxOneH5>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </recentBoxOneH5>
    <recentBoxOneImg>
      <Value><![CDATA[[
  {
    "key": "efa5c197-3a45-4404-a15f-2702ba58bdd7",
    "mediaKey": "3aa04b64-9993-4287-86b5-370d7714c55e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentBoxOneImg>
    <recentBoxOneText>
      <Value><![CDATA[Financial Services]]></Value>
    </recentBoxOneText>
    <recentBoxThreeH5>
      <Value><![CDATA[Financial Advisors to Irra Corp Inc.]]></Value>
    </recentBoxThreeH5>
    <recentBoxThreeImg>
      <Value><![CDATA[[
  {
    "key": "64c71803-b72e-4f71-b921-26eb285650e0",
    "mediaKey": "2ddad967-9201-4e13-94b9-03d8adf476e2",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentBoxThreeImg>
    <recentBoxThreeText>
      <Value><![CDATA[Financial Services]]></Value>
    </recentBoxThreeText>
    <recentBoxTwoh5>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </recentBoxTwoh5>
    <recentBoxTwoImage>
      <Value><![CDATA[[
  {
    "key": "86ef286f-3a0b-4101-8d56-027de37faf46",
    "mediaKey": "54ede2bf-616a-4e7f-b49b-1f6c4a76c6ca",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentBoxTwoImage>
    <recentBoxTwoText>
      <Value><![CDATA[Financial Services]]></Value>
    </recentBoxTwoText>
    <recentHeadline>
      <Value><![CDATA[Recent projects]]></Value>
    </recentHeadline>
    <recentSectionTitle>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </recentSectionTitle>
    <servicesSectionHeadline>
      <Value><![CDATA[We Provide The Solutions  To Grow Your Business Faster]]></Value>
    </servicesSectionHeadline>
    <servicesSectionTitle>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </servicesSectionTitle>
    <storyBackgroundDotImage>
      <Value><![CDATA[[
  {
    "key": "c1fe8406-c211-43ea-bc05-4f132979d3a4",
    "mediaKey": "f051f2bc-0307-486f-87ac-9f08ebdfb0b9",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </storyBackgroundDotImage>
    <storyButtonText>
      <Value><![CDATA[Read our story]]></Value>
    </storyButtonText>
    <storyButtonUrl>
      <Value><![CDATA[/about]]></Value>
    </storyButtonUrl>
    <storyHeadline>
      <Value><![CDATA[We are trusted by more than 4.000+ clients]]></Value>
    </storyHeadline>
    <storyImage>
      <Value><![CDATA[[
  {
    "key": "b8aed36b-043b-478a-b463-9c429052d85a",
    "mediaKey": "3d0bb1b6-5f11-4e74-96eb-e3a908e92fb2",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </storyImage>
    <storyText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </storyText>
    <successBoxOneNumber>
      <Value><![CDATA[689]]></Value>
    </successBoxOneNumber>
    <successBoxOneText>
      <Value><![CDATA[More than 100 customers has been served]]></Value>
    </successBoxOneText>
    <successBoxThreeNumber>
      <Value><![CDATA[125]]></Value>
    </successBoxThreeNumber>
    <successBoxThreeText>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </successBoxThreeText>
    <successBoxTwoNumber>
      <Value><![CDATA[370]]></Value>
    </successBoxTwoNumber>
    <successBoxTwoText>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </successBoxTwoText>
    <successDotbackgroundImg>
      <Value><![CDATA[[
  {
    "key": "41507836-133f-4765-99dc-89ea8eef9586",
    "mediaKey": "9bb28358-ae4a-40c2-aea8-847adb3309bf",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successDotbackgroundImg>
    <successHeadline>
      <Value><![CDATA[Success story]]></Value>
    </successHeadline>
    <successImage>
      <Value><![CDATA[[
  {
    "key": "0d8d9efe-39e0-4b3c-ad3a-bc43a55613b1",
    "mediaKey": "6df0985c-3ba6-4c74-86cb-933d02c60645",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successImage>
    <successSectionTitle>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </successSectionTitle>
    <title>
      <Value><![CDATA[Home]]></Value>
    </title>
  </Properties>
</Content>