<?xml version="1.0" encoding="utf-8"?>
<Content Key="20188231-add6-4d55-837d-17a813814412" Alias="Projects" Level="2">
  <Info>
    <Parent Key="d3ebb37a-2047-4e87-9101-67d4f9f03e28">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsPage</ContentType>
    <CreateDate>2024-09-11T11:02:21</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bd0052c7-4dad-466d-acd6-cbc12e4facde">projectsPage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[]]></Value>
    </aboutHeadline>
    <aboutQuote>
      <Value><![CDATA[]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[]]></Value>
    </aboutSignatureImage>
    <aboutText>
      <Value><![CDATA[]]></Value>
    </aboutText>
    <companyImageFive>
      <Value><![CDATA[]]></Value>
    </companyImageFive>
    <companyImageFour>
      <Value><![CDATA[]]></Value>
    </companyImageFour>
    <companyImageOne>
      <Value><![CDATA[]]></Value>
    </companyImageOne>
    <companyImageSix>
      <Value><![CDATA[]]></Value>
    </companyImageSix>
    <companyImageThree>
      <Value><![CDATA[]]></Value>
    </companyImageThree>
    <companyImageTwo>
      <Value><![CDATA[]]></Value>
    </companyImageTwo>
    <heroBackgroundImage>
      <Value><![CDATA[]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[]]></Value>
    </heroText>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
    <recentBoxFourH5>
      <Value><![CDATA[]]></Value>
    </recentBoxFourH5>
    <recentBoxFourImg>
      <Value><![CDATA[]]></Value>
    </recentBoxFourImg>
    <recentBoxFourText>
      <Value><![CDATA[]]></Value>
    </recentBoxFourText>
    <recentBoxOneH5>
      <Value><![CDATA[]]></Value>
    </recentBoxOneH5>
    <recentBoxOneImg>
      <Value><![CDATA[]]></Value>
    </recentBoxOneImg>
    <recentBoxOneText>
      <Value><![CDATA[]]></Value>
    </recentBoxOneText>
    <recentBoxThreeH5>
      <Value><![CDATA[]]></Value>
    </recentBoxThreeH5>
    <recentBoxThreeImg>
      <Value><![CDATA[]]></Value>
    </recentBoxThreeImg>
    <recentBoxThreeText>
      <Value><![CDATA[]]></Value>
    </recentBoxThreeText>
    <recentBoxTwoh5>
      <Value><![CDATA[]]></Value>
    </recentBoxTwoh5>
    <recentBoxTwoImage>
      <Value><![CDATA[]]></Value>
    </recentBoxTwoImage>
    <recentBoxTwoText>
      <Value><![CDATA[]]></Value>
    </recentBoxTwoText>
    <recentHeadline>
      <Value><![CDATA[]]></Value>
    </recentHeadline>
    <recentSectionTitle>
      <Value><![CDATA[]]></Value>
    </recentSectionTitle>
    <servicesSectionHeadline>
      <Value><![CDATA[]]></Value>
    </servicesSectionHeadline>
    <servicesSectionTitle>
      <Value><![CDATA[]]></Value>
    </servicesSectionTitle>
    <storyBackgroundDotImage>
      <Value><![CDATA[]]></Value>
    </storyBackgroundDotImage>
    <storyButtonText>
      <Value><![CDATA[]]></Value>
    </storyButtonText>
    <storyButtonUrl>
      <Value><![CDATA[]]></Value>
    </storyButtonUrl>
    <storyHeadline>
      <Value><![CDATA[]]></Value>
    </storyHeadline>
    <storyImage>
      <Value><![CDATA[]]></Value>
    </storyImage>
    <storyText>
      <Value><![CDATA[]]></Value>
    </storyText>
    <successBoxOneNumber>
      <Value><![CDATA[]]></Value>
    </successBoxOneNumber>
    <successBoxOneText>
      <Value><![CDATA[]]></Value>
    </successBoxOneText>
    <successBoxThreeNumber>
      <Value><![CDATA[]]></Value>
    </successBoxThreeNumber>
    <successBoxThreeText>
      <Value><![CDATA[]]></Value>
    </successBoxThreeText>
    <successBoxTwoNumber>
      <Value><![CDATA[]]></Value>
    </successBoxTwoNumber>
    <successBoxTwoText>
      <Value><![CDATA[]]></Value>
    </successBoxTwoText>
    <successDotbackgroundImg>
      <Value><![CDATA[]]></Value>
    </successDotbackgroundImg>
    <successHeadline>
      <Value><![CDATA[]]></Value>
    </successHeadline>
    <successImage>
      <Value><![CDATA[]]></Value>
    </successImage>
    <successSectionTitle>
      <Value><![CDATA[]]></Value>
    </successSectionTitle>
    <title>
      <Value><![CDATA[Projects]]></Value>
    </title>
  </Properties>
</Content>