<?xml version="1.0" encoding="utf-8"?>
<Content Key="115b1f33-e1df-4605-b675-84da3d53009a" Alias="Services" Level="2">
  <Info>
    <Parent Key="d3ebb37a-2047-4e87-9101-67d4f9f03e28">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>services</ContentType>
    <CreateDate>2024-09-11T11:00:14</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e696a4b-516e-444f-b21a-50a311c7168c">services</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[]]></Value>
    </aboutHeadline>
    <aboutQuote>
      <Value><![CDATA[]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[]]></Value>
    </aboutSignatureImage>
    <aboutText>
      <Value><![CDATA[]]></Value>
    </aboutText>
    <companyImageFive>
      <Value><![CDATA[]]></Value>
    </companyImageFive>
    <companyImageFour>
      <Value><![CDATA[]]></Value>
    </companyImageFour>
    <companyImageOne>
      <Value><![CDATA[]]></Value>
    </companyImageOne>
    <companyImageSix>
      <Value><![CDATA[]]></Value>
    </companyImageSix>
    <companyImageThree>
      <Value><![CDATA[]]></Value>
    </companyImageThree>
    <companyImageTwo>
      <Value><![CDATA[]]></Value>
    </companyImageTwo>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <heroBackgroundImage>
      <Value><![CDATA[]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[]]></Value>
    </heroText>
    <nextProjectBackground>
      <Value><![CDATA[]]></Value>
    </nextProjectBackground>
    <nextProjectDots>
      <Value><![CDATA[]]></Value>
    </nextProjectDots>
    <nextProjectImage>
      <Value><![CDATA[]]></Value>
    </nextProjectImage>
    <officeEmailAddress>
      <Value><![CDATA[]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[]]></Value>
    </officeLocation>
    <officePhone>
      <Value><![CDATA[]]></Value>
    </officePhone>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <recentBoxFourH5>
      <Value><![CDATA[]]></Value>
    </recentBoxFourH5>
    <recentBoxFourImg>
      <Value><![CDATA[]]></Value>
    </recentBoxFourImg>
    <recentBoxFourText>
      <Value><![CDATA[]]></Value>
    </recentBoxFourText>
    <recentBoxOneH5>
      <Value><![CDATA[]]></Value>
    </recentBoxOneH5>
    <recentBoxOneImg>
      <Value><![CDATA[]]></Value>
    </recentBoxOneImg>
    <recentBoxOneText>
      <Value><![CDATA[]]></Value>
    </recentBoxOneText>
    <recentBoxThreeH5>
      <Value><![CDATA[]]></Value>
    </recentBoxThreeH5>
    <recentBoxThreeImg>
      <Value><![CDATA[]]></Value>
    </recentBoxThreeImg>
    <recentBoxThreeText>
      <Value><![CDATA[]]></Value>
    </recentBoxThreeText>
    <recentBoxTwoh5>
      <Value><![CDATA[]]></Value>
    </recentBoxTwoh5>
    <recentBoxTwoImage>
      <Value><![CDATA[]]></Value>
    </recentBoxTwoImage>
    <recentBoxTwoText>
      <Value><![CDATA[]]></Value>
    </recentBoxTwoText>
    <recentHeadline>
      <Value><![CDATA[]]></Value>
    </recentHeadline>
    <recentSectionTitle>
      <Value><![CDATA[]]></Value>
    </recentSectionTitle>
    <servicesEmail>
      <Value><![CDATA[E-mail address]]></Value>
    </servicesEmail>
    <servicesHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </servicesHeadline>
    <servicesNextProjectImg>
      <Value><![CDATA[[
  {
    "key": "4963c092-aa08-46c6-baf6-f2d0d3f9095a",
    "mediaKey": "9ccdde5b-3024-4806-8482-f78947fc9e48",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesNextProjectImg>
    <servicesOffice>
      <Value><![CDATA[Office location]]></Value>
    </servicesOffice>
    <servicesPhone>
      <Value><![CDATA[Phone number]]></Value>
    </servicesPhone>
    <servicesSectionHeadline>
      <Value><![CDATA[]]></Value>
    </servicesSectionHeadline>
    <servicesSectionTitle>
      <Value><![CDATA[]]></Value>
    </servicesSectionTitle>
    <siteLogotype>
      <Value><![CDATA[]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[]]></Value>
    </siteTagline>
    <storyBackgroundDotImage>
      <Value><![CDATA[]]></Value>
    </storyBackgroundDotImage>
    <storyButtonText>
      <Value><![CDATA[]]></Value>
    </storyButtonText>
    <storyButtonUrl>
      <Value><![CDATA[]]></Value>
    </storyButtonUrl>
    <storyHeadline>
      <Value><![CDATA[]]></Value>
    </storyHeadline>
    <storyImage>
      <Value><![CDATA[]]></Value>
    </storyImage>
    <storyText>
      <Value><![CDATA[]]></Value>
    </storyText>
    <successBoxOneNumber>
      <Value><![CDATA[]]></Value>
    </successBoxOneNumber>
    <successBoxOneText>
      <Value><![CDATA[]]></Value>
    </successBoxOneText>
    <successBoxThreeNumber>
      <Value><![CDATA[]]></Value>
    </successBoxThreeNumber>
    <successBoxThreeText>
      <Value><![CDATA[]]></Value>
    </successBoxThreeText>
    <successBoxTwoNumber>
      <Value><![CDATA[]]></Value>
    </successBoxTwoNumber>
    <successBoxTwoText>
      <Value><![CDATA[]]></Value>
    </successBoxTwoText>
    <successDotbackgroundImg>
      <Value><![CDATA[]]></Value>
    </successDotbackgroundImg>
    <successHeadline>
      <Value><![CDATA[]]></Value>
    </successHeadline>
    <successImage>
      <Value><![CDATA[]]></Value>
    </successImage>
    <successSectionTitle>
      <Value><![CDATA[]]></Value>
    </successSectionTitle>
    <title>
      <Value><![CDATA[Services]]></Value>
    </title>
  </Properties>
</Content>