<?xml version="1.0" encoding="utf-8"?>
<Content Key="735c9757-79b9-466e-bd2c-dfad66e9cfeb" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-09T12:28:03</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <nextProjectBackground>
      <Value><![CDATA[[
  {
    "key": "6f5bd65f-8be4-47e6-baa7-d64ac85608ea",
    "mediaKey": "96329b72-03db-4254-af31-3f27a7888e2f",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectBackground>
    <nextProjectDots>
      <Value><![CDATA[[
  {
    "key": "0daf7018-8392-4f86-9196-f4cdb004adb3",
    "mediaKey": "d90b9457-f1dd-46d1-a00a-b47e291bf642",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectDots>
    <nextProjectImage>
      <Value><![CDATA[[
  {
    "key": "382a6eeb-eb3b-4925-86f4-e32580f3f2ed",
    "mediaKey": "9ccdde5b-3024-4806-8482-f78947fc9e48",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImage>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </officeLocation>
    <officePhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhone>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "0dca3c7b-a41d-46a6-a51e-2dbd1612c14a",
    "mediaKey": "f7700592-6c74-447e-b6c9-4949f8ecdbab",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Financial Solutions for You]]></Value>
    </siteTagline>
  </Properties>
</Content>